body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
padding: 0px;
margin: 0px;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

nav{
    padding: 0px 100px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo img{
    padding: 20px;
    width: 40px;
    height: 40px;
}
.logo{
    margin-top: 0px;
    display: flex;
    align-items: center;
}
button{
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 7px 24px;
border: none;
}

.logo .text{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.logo .text span{
    color: #0B0223;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding:20px 100px;
}
.text-hero li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
}
.text-hero{
    background-image: url(images/Vector\ 2.png);
}
.btn-org{
   
padding: 11px 20px;

color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.btn-blue{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;

font-size: 16px;

font-weight: 600;
line-height: normal;
text-transform: uppercase;
padding: 11px 20px;
}

.btn-hero{
    display: flex;
gap: 5px;
margin-top: 15px;
}
.text-hero h3{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
/* padding: 10px; */
margin: 10px 0px;
}
.text-hero h1{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* padding: 10px; */
margin: 10px 0px;
}
.text-hero li{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
padding: 10px 0px;
}

.hero .lower-img{
    display: flex;
}
.sec-down{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}
.we-are{
    display: flex;
    
    justify-content: space-between;
    padding: 0px 100px;
}
.we-are p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 16px;
padding-top: 0px;
font-weight: 400;
margin-top: 0px;
}
.we-are h3{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.unleash{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
text-align: right;
}
.unleash span{
    color: #534C64;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 45px;
}
.right{
    text-align: right;
}






